depexts: [
  ["esbuild"] {npm-version = "^0.25.0"}
  ["@craftamap/esbuild-plugin-html"] {npm-version = "^0.6.1"}
]
pin-depends: [
  ["styled-ppx.dev" "git+https://github.com/davesnx/styled-ppx.git#main"]
]
