depexts: [
  ["copy-webpack-plugin"] {npm-version = "^11.0.0"}
  ["html-webpack-plugin"] {npm-version = "^5.5.0"}
  ["webpack"] {npm-version = "^5.76.1"}
  ["webpack-dev-server"] {npm-version = "^4.11.1"}
]
pin-depends: [
  [ "reason-react.dev"      "git+https://github.com/reasonml/reason-react.git#6938d62b70c506eade2755d32f7c5f3aae005e8c" ]
  [ "reason-react-ppx.dev"  "git+https://github.com/reasonml/reason-react.git#6938d62b70c506eade2755d32f7c5f3aae005e8cd" ]
]
